/source/.phpunit.cache
/source/node_modules
/source/public/build
/source/public/hot
/source/public/storage
/source/storage/*.key
/source/storage/pail
/source/vendor
/source/.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/source/npm-debug.log
/source/yarn-error.log
/source/auth.json
/source/.fleet
/source/.idea
/source/.nova
/source/.vscode
/source/.zed